<!-- <app-battery></app-battery> -->
<h1 class="display-1 text-center mt-3">Fitness Quiz</h1>

<blockquote class="blockquote mx-3 mb-5">
  <p class="mb-3">Hallo Rico!</p>
  <p class="mb-3">Willkommen beim ultimativen Fitness-Quiz.</p>
  <p class="mb-3">Auf den folgnden Seiten werden dir Fragen gestellt, anhand deren Antworten dein Fitness-Level berechnet wird.</p>
  <p class="mb-0">Drücke auf <i>Starten...</i> und es geht los.</p>
</blockquote>

<div class="text-center">
  <a type="button" class="btn btn-primary" routerLink="/question1">Starten...</a>
</div>