<mat-card class="m-2 mb-2 mx-auto bg-light mt-4" style="max-width: 707px;">
  <mat-card-header>
    <mat-card-title>Auswertung...</mat-card-title>
    <mat-card-subtitle>Der Theorie-Teil ist an dieser Stelle beendet.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-battery></app-battery>
    <p>
      Mit <b>{{getBatteryLevel()}}%</b> Body Battery hast du im Theorie-Teil leider nur mäßig abgeschnitten.
    </p>
    <p>
      Aber keine Sorge, du kannst dein Ergebnis im prakitischen Teil noch einmal deutlich verbessern. Wie der praktische Teil aussieht, erfährst du auf der folgenden Seite.
    </p>
  </mat-card-content>
</mat-card>


<div class="text-center">
  <a type="button" class="btn btn-primary text-white" routerLink="/gift">Zum praktischen Teil...</a>
</div>