<div class="mx-auto bg-dark pt-5" style="max-width: 7007px; max-height: 300px;">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Alles Gute und viel Erfolg</mat-card-title>
    <mat-card-subtitle>wünschen Dir Nancy und Ronny</mat-card-subtitle>
  </mat-card-header> -->
  <div class="text-center mx-auto">
    <div class="text-center px-5">
      <img mat-card-image src="./assets/images/battery_100.png" alt="Battery 100%" class="px-5" style="max-width: 450px;">
    </div>
  </div>
  <!-- <mat-card-content>
    <p>
      Ab dem 50. Geburtstag nimmt das Leben nochmal richtig Schwung auf.
      Deinen Schwung kannst du direkt in einem gleichermaßen schönen wie anspruchsvollen Mountainbike Marathon nutzen.
    </p>
  </mat-card-content> -->
</div>