<div  class="bg-dark">
  <app-battery></app-battery>
</div>

<mat-card class="m-2 mb-2 mx-auto bg-light mt-4" style="max-width: 707px;">
  <mat-card-header>
    <mat-card-title>Frage #1: Wie fühlst Du dich?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="list-group">
      <button (click)="goToNextPageAddLevel('question2', 0)" type="button" class="list-group-item list-group-item-action"><b>:)</b> Gut</button>
      <button (click)="goToNextPageAddLevel('question2', -20)" type="button" class="list-group-item list-group-item-action"><b>:/</b> Mittelmäßig</button>
      <button (click)="goToNextPageAddLevel('question2', -40)" type="button" class="list-group-item list-group-item-action"><b>:(</b> Schlecht</button>
    </div>
  </mat-card-content>
</mat-card>
