<mat-card class="example-card m-2 mb-2 mx-auto bg-light" style="max-width: 707px;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Alles Gute und viel Erfolg</mat-card-title>
    <mat-card-subtitle>wünschen Dir Nancy und Ronny</mat-card-subtitle>
  </mat-card-header>
  <div class="p-3">
    <img mat-card-image src="./assets/images/startnummer_no_frame.png" alt="Startnummer Rennsteig Ride"
      class="shadow p-1 mb-1 bg-white rounded">
  </div>
  <mat-card-content>
    <p>
      Ab dem 50. Geburtstag nimmt das Leben nochmal richtig Schwung auf.
      Deinen Schwung kannst du direkt in einem gleichermaßen schönen wie anspruchsvollen Mountainbike Marathon nutzen.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card m-2 mb-2 mx-auto bg-light" style="max-width: 707px;">
  <mat-card-header>
    <mat-card-title>Du kannst es noch nicht glauben?</mat-card-title>
    <mat-card-subtitle>Doch doch, du hast richtig gelesen.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="p-3">
      <img mat-card-image src="./assets/images/course.png" alt="Startnummer Rennsteig Ride"
        class="shadow p-1 mb-1 bg-white rounded">
    </div>
    <p>
      Du wirst am <b>04.09.2020</b> beim 4. Rennsteig Ride in <b>Schmiedefeld am Rennsteig</b> an den Start gehen und
      auf ca. <b>64 km</b> die zahlreichen Facetten des Thüringer Waldes genießen.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card m-2 mb-2 mx-auto bg-light" style="max-width: 707px;">
  <mat-card-header>
    <mat-card-title>Das klingt zu gut um wahr zu sein?</mat-card-title>
    <mat-card-subtitle>Du kannst uns glauben, eine Starterliste lügt nicht.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="p-3">
      <img mat-card-image src="./assets/images/starterlist.png" alt="Startnummer Rennsteig Ride"
        class="shadow p-1 mb-1 bg-white rounded">
    </div>
    <p>
      Eine majestätisch anmutende <b>50</b> wird an deinem Lenker prangen und noch Jahre später wird dich diese Zahl auf dem Zielfoto daran erinnern, mit welch guter Form die zweite Hälfte deines Lebens begann.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card m-2 mb-5 mx-auto bg-light" style="max-width: 707px;">
  <mat-card-header>
    <mat-card-title>Noch immer skeptisch?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Überzeuge dich selbst und schau in der Starterliste nach.
    </p>
    <div class="text-right">
      <a class="btn btn-primary" href="https://rennsteigride.de/starterliste/" role="button">Hier entlang...</a>
    </div>
  </mat-card-content>
</mat-card>